.listas{
    //border:solid 2px black;
    
    background-color:rgba(0,0,0,0.25);
    //margin-right:25px;
    box-sizing: border-box;
    transition: 1s;
}
.itemsDeListas{
    width: 100%;
    //background-color: rgba(0,0,0,0.6);
    font-size: 78px;
    padding:0px;
    margin-bottom: 10px;
    cursor:pointer;
}
#indice1
{
    color:#9B3C52;
    color:yellow;
    //background-color:red;
}
#numero1
{
    background-color:#912836;
    color:yellow;
}
#item1lista21
{
   display: none;
}
.encabezadosLista
{
    
    color:white;
    text-align: center;
    cursor:pointer;
}
.htresEncabezadoListas
{
    background-color: rgba(0,0,0,0.6);
    border-radius: 5px 5px 0px 0px;
    overflow:hidden;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 72px;
    font-stretch: condensed;
}
.indice
{
    //border:solid 2px black;
    border-radius: 5px 0px 0px 5px;
    display:inline-block;
    background-color:#173E43;
    color:white;
    position:relative;
    left:0px;
    text-align: center;
    overflow: hidden;
}
.numero
{
    //border:solid 2px black;
    text-align: center;
    display:inline-block;
    background-color:white;
    overflow: hidden;
    font-weight: bold;
    //font-family: monospace;
}
.huge
{
   
}